<html>
<head>
    <title>System Information - Supermarket Management System</title>
</head>
<body>
    <div>
        <h1>Supermarket Product Management System</h1>
        
        <div>
            <b><%= message %></b>
        </div>
        
        <p>
            <a href="/">Return to Home</a>
            <a href="/find">View All Products</a>
            <a href="/create">Create New Product</a>
        </p>
    </div>
</body>
</html>
